.title {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.title span {
    font-size: 24px;
}
.content {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
div[class*="box"] {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 40px 0;
}
div[class*="box"] p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.box2 {
    background-image: linear-gradient(to top, #ffecd2 0%, #fcb69f 100%);
}
.box3 {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.box4 {
    background-image: linear-gradient(to top, #84fab0 0%, #8fd3f4 100%);
}
.box5 {
    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
}
.box6 {
    background-image: linear-gradient(to top, #93a5cf 0%, #e4efe9 100%);
}
.box7 {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.box8 {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.box9 {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.box10 {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
div[class*="load"] {
    display: flex;
    height: 80px;
    align-items: flex-end;
}

/*Set Animation*/
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}
.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}
.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}
.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282B3;
}
.letter-holder {
    padding: 16px;
}
.letter {
    float: left;
    font-size: 14px;
    color: #777;
}
.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}
.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}
.bubble-2 {
    top: auto;
    bottom: 0;
}
.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}
@keyframes loadingA {
    0 {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}
.box1 .line:nth-last-child(1) {
    animation: loadingA 1.5s 1s infinite;
}
.box1 .line:nth-last-child(2) {
    animation: loadingA 1.5s .5s infinite;
}
.box1 .line:nth-last-child(3) {
    animation: loadingA 1.5s 0s infinite;
}
@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}
.box2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
}
.box2 .line:nth-last-child(2) {
    animation: loadingB 1.5s .5s infinite;
}
.box2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
}
@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
.box3 .line:nth-last-child(1) {
    animation: loadingC .6s .1s linear infinite;
}
.box3 .line:nth-last-child(2) {
    animation: loadingC .6s .2s linear infinite;
}
.box3 .line:nth-last-child(3) {
    animation: loadingC .6s .3s linear infinite;
}
@keyframes loadingD {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
.box4 .ring-1 {
    animation: loadingD 1.5s .3s cubic-bezier(.17, .37, .43, .67) infinite;
}
@keyframes loadingE {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.box5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}
@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.box6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}
.l-1 {
    animation-delay: .48s;
}
.l-2 {
    animation-delay: .6s;
}
.l-3 {
    animation-delay: .72s;
}
.l-4 {
    animation-delay: .84s;
}
.l-5 {
    animation-delay: .96s;
}
.l-6 {
    animation-delay: 1.08s;
}
.l-7 {
    animation-delay: 1.2s;
}
.l-8 {
    animation-delay: 1.32s;
}
.l-9 {
    animation-delay: 1.44s;
}
.l-10 {
    animation-delay: 1.56s;
}
@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}
.box7 .square {
    animation: loadingG 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
}
@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}
.box8 .line {
    animation: loadingH 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
}
@keyframes loadingI {
    100% {transform: rotate(360deg);}
}
@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}
.box9 .spinner {
    animation: loadingI 2s linear infinite;
}
.box9 .bubble-1,
.box9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.box9 .bubble-2 {
    animation-delay: -1.0s;
}
@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}
  
  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}
.box10 .bar {
    animation: loadingJ 2s cubic-bezier(.17, .37, .43, .67) infinite;
}