body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
}
.container {
    width: 90%;
    height: 90%;
    padding: 20px;
    border: 1px solid #eee;
}
.container .title {
    margin: 0 auto;
    width: 400px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
}
.tagsList {
    width: 500px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.tagsList span {
    padding: 8px 16px;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.tagsList input[type="radio"] {
    display: none;
}
.itemInputBox {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemInputBox input[type="text"] {
    width: 70%;
    height: 25px;
    margin-right: 10px;
    font-size: 18px;
    padding-left: 5px;
}
.itemInputBox .addBtn {
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #fff;
}
.itemInputBox .addBtn::before {
    content: "";
    width: 5px;
    height: 20px;
    background: #000;
    border-radius: 5px;
    position: absolute;
}
.itemInputBox .addBtn::after {
    content: "";
    width: 20px;
    height: 5px;
    background: #000;
    border-radius: 5px;
    position: absolute;
}
.itemsContainer {
    width: 90%;
    height: 70%;
    background: #fff;
    margin: 0 auto;
    position: relative;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.itemsContainer::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: #239f95 transparent transparent #99C4C1;
}
.itemsContainerTitle {
    width: 80%;
    height: 40px;
}
.itemsContainerTitle .tag-icon {
    width: 30px;
    height: 30px;
    background: #000;
    position: relative;
    transform: rotate(45deg);
}
.itemsContainerTitle .tag-icon::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #000 transparent transparent;
    position: absolute;
    top: 0;
    left: -15px;
}

#playerName {
  width: 150px;
  height: 20px;
}