body {
    background: #239F95;
}
.container .title {
    color: #000;
    background: #F5F4E8;
    border-right: 30px solid #DAA592;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.container .title::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: -32px;
    border-style: solid;
    border-width: 16px 32px 16px 0;
    border-color: transparent #F5F4E8 transparent transparent;
}
.container .title::after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent #414141 transparent transparent;
    position: absolute;
    left: -33px;
}
.tagsList .button {
    background: #ADD7AB;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 14%);
}
.tagsList input:checked + .button {
    background: #FABC74;
}
.itemInputBox input[type="text"] {
    border: 0;
    border-bottom: 2px solid #000;
    background: none;
    outline: none;
}
.itemInputBox input[type="text"]:focus {
  background: none;
}
.itemInputBox input[type="text"]::placeholder {
    color: #fff;
    font-weight: 700;
}
.itemInputBox .addBtn {
    background: #000;
}
.itemInputBox .addBtn::before {
    background: #fff;
}
.itemInputBox .addBtn::after {
    background: #fff;
}